<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Main Page</h1>

    {{ if ne .Name "Bob" }}
    <span>ну привет</span>
    {{ else }}
    <span>ты кто</span>
    {{ end }}

    <ul>
        {{range .Hobbies}}
            <li><b>{{ . }}</b></li>
        {{else}}
            <h1>Хобби отсутсвуют</h1>
        {{end}}
    </ul>

    <h1>Hello {{.Name}}</h1>
    <h1>Balance {{.Money}}</h1>
    <h2>About me</h2>
    <h3>Age: {{.Age}}</h3>
    <h3>Happiness: {{.Happiness}}</h3>
</body>
</html>