{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoGo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/mobile.css?v=timestamp">
    <link rel="stylesheet" href="/static/css/colors.css">
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/NEWvariables.css">
</head>
<body>
    <header id="header" class="">
        <a href="/">
            <h1 class="header-menu-text">PhotoGo</h1>
        </a>
        <div class="header-menu" id="header-menu">
            {{ if .LoggedUserId }}
                <a href="/" class="header-menu-element">
                    <img src="/static/icons/home_page-icon.png" alt="home" class="header-menu-icon">
                </a>
                <!-- <a href="/search" class="header-menu-element">
                    <img src="/static/icons/search_page-icon.png" alt="search" class="header-menu-icon">
                </a> -->
                <a href="/allusers" class="header-menu-element">
                    <img src="/static/icons/users-icon.png" alt="allusers" class="header-menu-icon">
                </a>
            {{ end }}
            
            {{ if not .LoggedUserId }}
                <div class="header-notlogged-btns-div">
                    <a href="/login" class="header-menu-element">
                        <h1 class="header-menu-text">Войти</h1>
                    </a>
                    <a href="/register" class=" header-menu-element-reg-btn header-menu-element">
                        <h1 class="header-menu-text">Зарегистрироваться</h1>
                    </a>
                    <div class="horizontal-line"></div>
                    <a href="/register" class=" header-menu-element-reg-btn-true header-menu-element">
                        <h1 class="header-menu-text">Нет аккаунта</h1>
                    </a>
                </div>
            {{ end }}
            {{ if .LoggedUserId }}
                <a href="/profile/{{ .LoggedUserId }}" class="header-menu-element"> 
                    <!-- <img src="/static/icons/profile_page-icon.png" alt="profile" class="header-menu-icon"> -->
                    <img src="{{ .LoggedUserphotoURL }}" alt="userhoto" class="header-menu-userphoto">
                </a>
            {{ end }}
        </div>
    </header>
    <main>
    <!-- <script src="/static/js/script.js"></script> -->
{{ end }}
