{{ define "login" }}

{{ template "header" }}

    <div class="signin">
        <h1 id="helloText">Привет</h1>

        <form action="/log_user" method="get" class="signin-form">
            <!-- <h2>Здравствуй....?</h2> -->
            <div class="field">
                <input type="text" name="username" id="username" placeholder="" class="signin-form-input" onchange="HelloTextChange()">
                <label for="username" class="field-label">Ваше Имя</label>
            </div>
            <!-- <h2>Введите ваш пароль</h2> -->
            <div class="field" style="margin-top: 20px;">
                <div class="password-line">
                    <input type="password" name="password" id="password" placeholder="" class="signin-form-input">
                    <label for="password" class="field-label">Ваш Пароль</label>
                    <img src="/static/icons/show-pass-icon.png" alt="show_password" class="signin-showpass" onmouseover="showInputPass(1)" onmouseout="showInputPass(0)">
                </div>
            </div>
            <button class="signin-form-button">Войти</button>
        </form>
    </div>
    
{{ template "footer" }}

{{ end }}