@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-flow: column;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: rgb(22,22,22);
    background: linear-gradient(146deg, rgba(22,22,22,1) 0%, rgba(27,27,27,1) 24%, rgba(47,47,47,1) 100%); 
}

header{
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    align-self: center;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid white;
    width: 80%;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    cursor: default;
}

h2{
    cursor: default;
}

.header-menu-icon{
    width: 50px;
    filter: invert(1);
    margin: 10px;
}

.signin{
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 30%;
    align-items: center;
}

.signin-form{
    display: flex;
    /* align-self: center; */
    align-items: center;
    flex-flow: column;
    border: 3px solid white;
    border-radius: 30px;
    width: 100%;
    padding: 40px;

}

.signin-form-input{
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 0;
    text-align: center;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
    margin: 10px;
}

.signin-form-input:focus{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.643);
}

.signin-form-button{
    margin: 20px 20px 0px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.signin-form-button:hover{
    background-color: rgb(103, 103, 103);
    color: white;
}