@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* cursor: default; */
}

html{
}

body{
    display: flex;
    height: 100%;
    flex-flow: column;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: rgb(22,22,22);
    background: linear-gradient(146deg, rgba(22,22,22,1) 0%, rgba(27,27,27,1) 24%, rgba(47,47,47,1) 100%); 
}

header{
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    align-self: center;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid white;
    width: 80%;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h1{
    cursor: default;
}

h2{
    cursor: default;
}

.header-menu{
    display: flex;
}

.header-menu-element{
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-text{
    cursor: pointer;
}

.header-menu-icon{
    width: 50px;
    filter: invert(1);
    cursor: pointer;
}

.signin{
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 30%;
    align-items: center;
}

.signin-form{
    display: flex;
    /* align-self: center; */
    align-items: center;
    flex-flow: column;
    border: 3px solid white;
    border-radius: 30px;
    width: 100%;
    padding: 40px;

}

.signin-form-input{
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 0;
    text-align: center;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
    margin: 10px;
}

.signin-form-input:focus{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.643);
}

.signin-form-button{
    margin: 20px 20px 0px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.signin-form-button:hover{
    background-color: rgb(103, 103, 103);
    color: white;
}

.user {
    background-color: rgb(207, 207, 207);
    color: black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 30%;
    align-self: center;
    padding: 10px;
    border-radius: 40px;
}

.user-button{
    background-color: rgb(169, 149, 149);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 10px 0px;
    transition: 0.3s;
}

.user-button:hover{
    background-color: rgb(143, 127, 127);
}

.profile {
    display: flex;
    flex-flow: column;
    align-self: center;
}

.profile-line{
    display: flex;
}

.profile_page-icon{
    width: 250px;
    margin-right: 50px;
    filter: invert(1);
}

.profile-block{
    max-width: 450px;
    word-wrap: break-word;
    word-break: break-all; /* более приоритетно */
}

.profile-block-description{
    margin-top: 20px;
}

.profile-block-description-text{
    font-weight: 400;
}

.profile-info {
    margin-top: 10px;
}

.profile-roots{
    padding: 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 40px;
    height: 70px;
    background-color: rgb(169, 149, 149);

}

.profile-roots-icon{
    width: 50px;
    filter: invert(1);
    transition: 0.3s;
}

.profile-roots-icon:hover{
    width: 60px;
}

.profile-roots-button{
    font-size: 20px;
    background-color: rgb(255, 161, 161);
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
}

.profile-roots-button:hover{
    font-size: 25px;
}