{{ define "create" }}

{{ template "header" . }}
    <div class="create-form-div">
        <h1 style="margin-bottom: 20px;">Опубликовать фото</h1>
        <form action="/createPhoto" method="post" enctype="multipart/form-data" class="create-form-div">
            <input type="file" name="photo" id="addPhoto" onchange="preWatchNewPhoto()" class="addPhotoInput">
            <label for="addPhoto" class="addPhoto-label">
                <img src="/static/icons/create_plus-icon.png" alt="NewPhoto" id="NewPhoto" class="NewPhoto">
            </label>
                <button class="signin-form-button">Добавить</button>
        </form>
    </div>
{{ template "footer" }}

{{ end }}
