{{ define "footer" }}

</main>
<footer>
    <div class="footer-block">
        <a href="/">
            <h1 class="header-menu-text">PhotoGo</h1>
        </a>
        <h4 class="footer-info-text">
            данные не защищены
        </h4>
    </div>
    <div class="footer-block">
        <h2>BETA 0.10</h2>
    </div>
</footer>
<script type="module">
        import * as axios from 'https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js';
</script>
<script src="/static/js/script.js"></script>
</body>
</html>

{{ end }}