{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <a href="#">
            <h1>PhotoGo</h1>
        </a>
        <div class="header-menu" id="header-menu">
            <a href="/">
                <img src="../static/icons/home_page-icon.png" alt="home" class="header-menu-icon">
            </a>
            <a href="/search">
                <img src="../static/icons/search_page-icon.png" alt="search" class="header-menu-icon">
            </a>
            <a href="/register">
                <img src="../static/icons/profile_page-icon.png" alt="profile" class="header-menu-icon">
            </a>
        </div>
    </header>

{{ end }}