{{ define "profile" }}

{{ template "header" . }}

<div class="profile">
    <div class="profile-line">
        <img src="{{ .UserphotoURL }}" alt="profile_page-icon" class="profile_page-icon">
        <div class="profile-block">
            <h1>{{ .Username }}</h1>
            <div class="profile-line profile-info">
                <h2>ID: {{ .Id }}</h2>
                <h2 style="margin-left: 20px;">Фото: {{ .Photos }}</h2>
            </div>
            <h2 class="profile-block-description">О себе:</h2>
            <h3 class="profile-block-description-text">{{ .Description }} </h3>
        </div>
    </div>
    {{ if .IsOwner }}
        <div class="profile-roots">
            <a href="/create">
                <img src="../static/icons/create_photo-icon.png" alt="create_photo" class="profile-roots-icon">
            </a>
            <a href="/logout" class="profile-roots-button">Выйти</a>
            <a href="{{ .Id }}/settings">
                <img src="../static/icons/user_settings-icon.png" alt="settings" class="profile-roots-icon">
            </a>
        </div>
    {{ end }}
</div>

{{ if .PhotoURLs}}
    <div class="photo-grid">
{{end}}


    {{ range .PhotoURLs }}
        <img src="{{ . }}" alt="User Photo" class="ProfilePhoto">
    {{ else }}
        <div class="zero-photo">
            <img src="../static/icons/zero_photo-icon.png" alt="user has no photos" class="zero-photo-img">
            <h2>Фото пока нету</h2>
        </div>
    {{ end }}

</div>



{{ template "footer" }}

{{ end }}
