{{ define "settings" }}

{{ template "header" . }}

    {{ if .IsOwner }}
        <div class="settings-center">
            <h1>Здравствуй {{ .Username }}👋, это твои настройки⚙️</h1>
            <div class="settings-line">
                <h2 data-lang="settings_showPassword">Ваш пароль:</h2>
                <h2 class="settings-center-button" onclick="settingsShowPass()" id="settings-password-button">показать пароль</h2>
                <h2 class="settings-password" id="settings-password">{{ .Password }}</h2>
                <!-- <h2 class="settings-center-button" onclick="console.log('cliked')" id="settings-password">показать пароль</h2> -->
            </div>
            <h2>Ваш Id: {{ .Id }}</h2>
        </div>
        <!-- <h3>Photos: {{ .Photos }}</h3> -->
        <div class="settings-blocks">
            <div class="settings-block">
                <h1>Расскажите о себе📝</h1>
                <form action="change_desc" method="post" class="settings-block-form">
                    <!-- <input type="text" name="description" id="description" placeholder="Описание профиля" class="signin-form-input"> -->
                    <textarea name="description" id="description" placeholder="Описание профиля" class="settings-description-textarea" maxlength="500" rows="4"></textarea>
                    <div class="settings-description-button-line">
                        <button class="signin-form-button">изменить</button>
                    </div>
                </form>
            </div>
            <div class="settings-block">
                <h1>Добавьте фото профиля📷</h1>
                <form action="addUserphoto" method="post" enctype="multipart/form-data" class="settings-block-form">
                    <div class="settings-user-card">
                        <div class="line center-line">
                            <img src="{{ .UserphotoURL }}" alt="profile_page-icon" class="settings-profile_page-icon">
                            <h2>{{ .Username }}</h2>
                        </div>
                        <label for="input_userphoto" class="userphoto_label">Новое фото</label>
                    </div>
                    <!-- <div class="settings-description-button-line">
                        <button class="signin-form-button">Добавить</button>
                    </div> -->
                </form>  
            </div>  
        </div>

        <div class="confirm-userphoto-body" id="confirmUserphoto">
            <h1>Отредактируйте фото вашего профиля</h1>
            <form action="addUserphoto" method="post" enctype="multipart/form-data" class="settings-block-form">
                <input type="file" name="photo" class="settings-input-file userphoto_input" id="input_userphoto" onchange="EditUserphoto()">
                <img src="" alt="new-userphoto" id="newUserphotoImg" class="new-userphoto">
                <div class="settings-description-button-line">
                    <button class="signin-form-button">Добавить</button>
                </div>
            </form>  
        </div>

        <div class="delete-account-div" id="delete-account-div">
            <h1>Вы уверены что хотите УДАЛИТЬ аккаунт?(</h1>
            <h2>востановить аккаунт будет НЕВОЗМОЖНО!</h2>
            <div class="delete-account-buttons">
                <a href="/profile/{{ .Id }}/settings" class="delete-account-button" onclick='close()'>Отмена</a>
                <a href="/deleteaccount" class="warning delete-account-button">УДАЛИТЬ</a>
            </div>
        </div>

        <div class="settings-buttons">
            <!-- <a href="/" class="settings-button">На главную</a> -->
            <a href="/logout" class="settings-button warning">Выйти из аккаунта</a>
            <!-- <button class="settings-lang-button" data-btn="by">
                <h1>BY</h1>
            </button>
            <button class="settings-lang-button" data-btn="ru">
                <h1>RU</h1>
            </button> -->
            <a class="settings-button warning" onclick="deleteAccount()">Удалить аккаунт</a>
        </div>
    {{ else }}
        <h1>ДОСТУП ОГРАНИЧЕН</h1>
    {{ end }}
{{ template "footer" }}

{{ end }}
